.container{
	width: 60%;
	margin: 0 auto;
	border: 15px #bdc3c7 solid;
	font-family: font-family: 'Source Sans Pro', sans-serif;
}

.container *{
	margin-left: 20px;
}

h3{
	color: #3498db;
	word-spacing: 0.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
h2{
	color: #2c3e50;
	font-weight: 700;
}
.first{
	border-left: 5px #bdc3c7 solid;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 90%;
    margin: auto;
}