.container{
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
	border: 20px #bdc3c7 solid;
	font-family: font-family: 'Source Sans Pro', sans-serif;
}

.container *{
	margin-left: 20px;
}

h3{
	color: #3498db;
	word-spacing: 0.5rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}
h2{
	color: #2c3e50;
	font-weight: 700;
	font-size: 2.0rem;
}
.first{
	border-left: 5px #bdc3c7 solid;
	padding-left: 5px;
}
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    width: 90%;
    margin: auto;
}