
<% include partials/header %>
<h1>HOME PAGE</H1>
<h3>how to be focused</h3>
<img src="https://i2.wp.com/globaltalkpoint.com/wp-content/uploads/2017/12/How-to-stay-Focus.png?fit=679%2C381&ssl=1">
<p>why do you want to be focused</p>
<p>
    Sed gravida nec erat at varius. Pellentesque tincidunt, orci quis aliquet fermentum, erat libero laoreet turpis, nec ultrices mi nulla ac nulla. Nam vitae lorem vitae dui condimentum fringilla. Morbi viverra risus et lorem efficitur, id malesuada nibh placerat. Duis fringilla sem in nulla congue tempor. Quisque turpis magna, pulvinar sed enim id, auctor bibendum ipsum. Etiam eget tempor sapien. Nunc efficitur auctor eros tincidunt malesuada. Cras risus ipsum, sodales non ultrices vitae, vulputate vel urna. Integer euismod nibh sed ante sagittis, ac rutrum sem ultricies. In ullamcorper pharetra molestie. Maecenas eu augue a quam egestas lacinia. Donec consectetur nisl neque, eget congue leo consectetur a. Sed quis eros est. Donec id nibh sed purus suscipit egestas. Phasellus vehicula nisl ullamcorper dui tempus, in pulvinar augue cursus.
</p>

<% include partials/footer %>