body{
	background-color: #232323;
	margin: 0;
	border: 0;
	font-family: "Avenir";
}

.square{
	background-color: purple;
	height: 120px;
	width: 30%;
	float: right;
	margin: 1.66%;
	border-radius: 50%;
}

#container{
	width: 40%;
	margin: 20px auto;
}

h1{
	text-align: center;
	text-transform: uppercase;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	padding: 1% 0;
	
}

.control-bar{
	text-align: center;
	background-color: white;
	height: 30px;
}

.selected{
	background-color: blue;
	color: white;
}

button{
	border: none;
	background: none;
	height: 100%;
	font-weight: 700;;
	color: steelblue;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: inherit;
}
button:hover{
	background-color: blue;
	color: white;
}
#message{
	display: inline-block;
	width: 20%;
}

#picked{
	font-size: 2em;
}